<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <form action="/" method="post" enctype=multipart/form-data id="page">
      <input type="file" name="file" id="file" multiple="multiple" />
      <br>
      <input type="submit" value="" />
      <br>
      <br>
      ostatnia strona?
      <select name="page_num" id="page_num" form="page">
        <option value="first">First page</option>
        <option value="last">Last page</option>
      </select>
    </form>
  </body>
</html>
